@font-face {
  font-family: 'Basteleur';
  src:
    url('./assets/fonts/Basteleur-Bold.woff'),
    url('./assets/fonts/Basteleur-Bold.woff2'),
    url('./assets/fonts/Basteleur-Moonlight.woff'),
    url('./assets/fonts/Basteleur-Moonlight.woff2');
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Basteleur';
  margin: 0;
  background-color: #ECEDFC;
  padding: 0rem 3rem;
}